.Rproj.user
.Rhistory
.RData
.Ruserdata
.htaccess
_targets/
.DS_Store
tab/
doc/*
!doc/*.qmd
!doc/_targets.yaml
!doc/report.scss
rna_seq/*
!rna_seq/Snakefile
!rna_seq/run_snake.sh
!rna_seq/config
!rna_seq/env.txt
shiny/de_genes/data
shiny/de_operons/data
fig/